.content-wrap {
  line-height: 1.4;
  font-optical-sizing: auto;
  font-style: normal;
}

.content-wrap p {
  line-height: 1.8;
}

/* mv-link-box */
.mv-link-box {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: fit-content;
  border: 3px solid var(--color-support-light);
}
.mv-link-box a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: normal;
}
.mv-link-box a:hover {
  background-color: var(--color-support-light);
}

@media screen and (max-width: 1024px) {
  .mv-link-box {
    width: calc(100% - 40px);
    right: 50%;
    transform: translateX(50%);
    bottom: 24px;
  }
  .mv-link-box a {
    font-size: 1rem;
    padding: 16px;
  }
  .mv-link-box br {
    display: none;
  }
  .mv-link-box-ribbon {
    display: none;
  }
}

/* service */
.service-title {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0 24px;
  paint-order: stroke;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-title .title {
  color: var(--color-support-dark);
}
.service-title-visually-impaired {
  /*background-image: url(/image/barrierfree/service-title-visually-impaired.jpg);*/
  background-color: var(--color-support-light2);
}
.service-title-hearing-impaired {
  /*background-image: url(/image/barrierfree/service-title-hearing-impaired.jpg);*/
  background-color: var(--color-support-light2);
}
.service-title-visually-impaired.service-title {
  /* -webkit-text-stroke: 6px #066686;
  text-stroke: 6px #066686; */
}
.service-title-visually-impaired .service-title-text {
  /* -webkit-text-stroke: 4px #066686;
  text-stroke: 4px #066686; */

}
.service-title-hearing-impaired.service-title {
  /* -webkit-text-stroke: 6px #FFF;
  text-stroke: 6px #FFF; */
}
.service-title-hearing-impaired .service-title-text {
  /* -webkit-text-stroke: 4px #FFF;
  text-stroke: 4px #FFF; */
}
@media screen and (max-width: 640px) {
  .service-title {
    height: auto;
    padding: 24px 16px 16px;
    justify-content: flex-start;
    gap: 8px;
  }
}

.service-grid-item-title {
  color: var(--color-support-dark);
  font-size: 1.5rem;
  position: relative;
}
.service-grid-item-title::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--color-support-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-grid-item-title span {
  background-color: var(--color-white);
  z-index: 1;
  padding: 0 16px;
}
@media screen and (max-width: 640px) {
  .service-grid-item-title {
    font-size: 1.25rem;
  }
}

.service-guide-img {
  background-color: var(--color-gray);
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.service-guide-img img {
  object-fit: contain;
}
.service-guide-img-visually-impaired img {
  width: calc(100% / 2);
}
.service-guide-img-hearing-impaired img {
  width: 70%;
}
@media screen and (max-width: 640px) {
  .service-guide-img {
    aspect-ratio: auto;
    height: 180px;
  }
  .service-guide-img-visually-impaired img {
    width: 90px;
  }
  .service-guide-img-hearing-impaired img {
    width: 180px;
  }
}

.recommend-comment {
  display: flex;
  gap: 16px;
  background-color: #FBDAC8;
  padding: 40px;
  justify-content: space-between;
}
.recommend-comment-title {
  font-size: 1.75rem;
  margin-bottom: 24px;
  font-weight: 700;
}
.recommend-comment-text {
  font-size: 1.125rem;
}
.recommend-comment-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.3%;
  flex-shrink: 0;
  gap: 16px;
}
.recommend-comment-profile-image {
  width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.recommend-comment-profile-position {
  font-size: 0.75rem;
  line-height: 1.4;
}
.recommend-comment-profile-name {
  font-size: 1.25rem;
  text-align: center;
  display: block;
  font-weight: 700;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .recommend-comment {
    flex-direction: column;
    align-items: center;
  }
  .recommend-comment-profile {
    width: 100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 767px) {
  .recommend-comment-profile {
    flex-direction: row;
  }
  .recommend-comment-profile-name {
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  .recommend-comment-title {
    font-size: 1.5rem;
  }
  .recommend-comment-text {
    font-size: 1rem;
  }
  .recommend-comment-profile-image {
    width: 161px;
  }
}
@media screen and (max-width: 374px) {
  .recommend-comment {
    padding: 24px;
  }
}