:root {
  --color-black: #222;
  --color-white: #FFF;
  --color-red: #FE0000;
  --color-blue: #004D9E;
  --color-yellow: #F2A100;
  --color-gray: #F5F5F5;
  --color-gold: #EAD07A;
  --color-gold-dark: #D6B445;
  --color-gold-deep-dark: #A3841D;
  --color-organizer-light: #B6DEB7;
  --color-organizer-dark: #006703;
  --color-explain-light: #85B1DF;
  --color-explain-dark: #013062;
  --color-support-light: #E7C9D4;
  --color-support-dark: #860031;
  --color-language-light: #B6BBDE;
  --color-language-dark: #001080;
  --color-border: #CCC
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  container-type: inline-size;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
p {
  line-height: 1.5;
}

a, button {
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  vertical-align: bottom;
}

p {
  line-height: 1.8;
}

/* utility */
.sp-only {
  display: none;
}
.pc-only {
  display: inline-block;
}
@media screen and (max-width: 640px) {
  .sp-only {
    display: inline-block;
  }
  .pc-only {
    display: none;
  }
}

/* grid/flex */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
  gap: 24px 40px;
}
.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.grid-teaser {
  row-gap: 40px;
}
@media screen and (max-width: 360px) {
  .grid-auto {
    grid-template-columns: 1fr;
  }
}

.gap8 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.gap16 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.gap24 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.gap40 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.gap64 {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
@media screen and (max-width: 640px) {
  .sp-gap8 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .sp-gap16 {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .sp-gap24 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .sp-gap40 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .sp-gap64 {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }
}

/* layout */
.content-wrap {
  max-width: 1104px;
  margin: 120px auto;
}
.content-wrap-small {
  margin-top: 64px;
}
@media screen and (max-width: 1144px) {
  .content-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .content-wrap {
    margin: 64px auto;
  }
  .content-wrap-small {
    margin-top: 24px;
  }
}

.section {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
.section-wide {
  width: 1280px;
  margin-left: calc((1104px - 1280px) / 2);
  margin-right: calc((1104px - 1280px) / 2);
}
@media screen and (max-width: 1320px) {
  .section-wide {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .section {
    row-gap: 40px;
    margin-bottom: 64px;
  }
}

/* common */
/* text */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.text-small {
  font-size: 0.875rem;
}
.text-medium {
  font-size: 1rem;
}
.text-large {
  font-size: 1.25rem;
}
.line-height-large {
  line-height: 1.8;
}
.font-noto {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
.font-rounded {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .text-small {
    font-size: 0.75rem;
  }
  .text-medium {
    font-size: 0.875rem;
  }
  .text-large {
    font-size: 1rem;
  }
  .sp-text-center {
    text-align: center;
  }
  .sp-text-left {
    text-align: left;
  }
  .sp-text-right {
    text-align: right;
  }
}

/* title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
}

.title-align-left {
  align-items: flex-start;
}
.title-large {
  font-size: 3rem;
  color: var(--color-gold-deep-dark);
}
.title-large::after {
  content: '';
  height: 3px;
  width: 100cqi;
  background-color: var(--color-gold-deep-dark);
  margin-top: 40px;
}
.title-support {
  color: var(--color-support-dark);
}
.title-support::after {
  background-color: var(--color-support-dark);
}
.title-medium {
  font-size: 2rem;
}
.title-small {
  font-size: 1.5rem;
}
.title-subtext {
  font-size: 1.25rem;
  color: var(--color-black);
}
.title-small .title-subtext {
  font-size: 1rem;
}
.title-left-bar {
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  text-align: left;
  position: relative;
  padding-left: 13px;
}
.title-left-bar::before {
  content: '';
  display: block;
  height: 100%;
  width: 3px;
  background-color: var(--color-gold-deep-dark);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.title-left-bar-support::before {
  background-color: var(--color-support-dark);
}
@media screen and (max-width: 640px) {
  .title-large {
    font-size: 2.25rem;
  }
  .title-large::after {
    margin-top: 16px;
  }
  .title-medium {
    font-size: 1.5rem;
  }
  .title-subtext {
    font-size: 0.875rem;
  }
  .title-small {
    font-size: 1.25rem;
  }
}

/* button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-decoration: none;
  height: 52px;
  border-radius: 9999px;
  width: 100%;
  max-width: 320px;
  font-size: 1.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  opacity: 0.7;
}
.button-wrap {
  display: flex;
  justify-content: center;
  gap: 24px 40px;
  flex-wrap: wrap;
}
.button-small {
  max-width: 240px;
  font-size: 1.25rem;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  height: 46px;
}
.button-more {
  background-color: var(--color-black);
  border-radius: 4px;
  max-width: 240px;
  font-size: 1.25rem;
  height: 40px;
}
.button-more:hover {
  color: var(--color-black);
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  opacity: 1;
}
.button-more.reverse {
  color: var(--color-black);
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
}
.button-blue {
  background-color: var(--color-blue);
}
.button-red {
  background-color: var(--color-red);
}
.button-gold {
  background-color: var(--color-gold);
  color: var(--color-black);
  font-weight: 500;
}
.button-gold:hover {
  opacity: 1;
  background-color: var(--color-gold-dark);
}
.button-deep-gold {
  background-color: var(--color-gold-deep-dark);
  color: var(--color-white);
  font-size: 1.25rem;
  height: 46px;
}
.button-deep-gold.reverse {
  background-color: var(--color-white);
  color: var(--color-gold-deep-dark);
  border: 2px solid var(--color-gold-deep-dark);
}
.button-blank {
  position: relative;
}
.button-blank::after {
  content: '\e89e';
  font-family: 'Material Icons';
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.button-with-arrow {
  padding: 0 24px;
  position: relative;
  font-size: 1.25rem;
}
.button-with-arrow::after {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.button.nolink {
  color: #222;
  background: #e4e4e4;
  font-size: 1.2rem;
    line-height: 1.1;
}
.button.nolink:hover {
  opacity: 1;
}
.button-ghost {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}
@media screen and (max-width: 640px) {
  .button {
    font-size: 1.25rem;
  }
  .button-more,
  .button-small {
    font-size: 1rem;
  }
}

/* teaser */
.teaser-vertical {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 640px) {
  .teaser-vertical {
    gap: 16px;
  }
}

.teaser-horizon {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.teaser-horizon p {
  line-height: 1.8;
}
.teaser-horizon .title:not(.title-left-bar) {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  text-align: left;
}
.teaser-horizon .title-left-bar {
  flex-direction: row;
}
.teaser-horizon-img {
  flex-shrink: 0;
  width: 36.3%;
}
.teaser-horizon-img-right .teaser-horizon-img {
  max-width: 300px;
}
.teaser-horizon-img-left .teaser-horizon-img {
  max-width: 400px;
}
.teaser-horizon-note {
  font-size: 0.875rem;
}
.teaser-horizon .button-wrap {
  justify-content: flex-start;
}

@media screen and (max-width: 640px) {
  .teaser-horizon {
    flex-direction: column;
    gap: 24px;
  }
  .teaser-horizon-img-right .teaser-horizon-img,
  .teaser-horizon-img-left .teaser-horizon-img {
    width: 100%;
    max-width: none;
  }
  .teaser-horizon .button-wrap {
    justify-content: center;
  }
}

/* list */
.list li {
  display: flex;
  line-height: 1.8;
}
.list li::before {
  content: '・';
}
@media screen and (max-width: 640px) {
  .list li {
    font-size: 0.875rem;
  }
}

/* link-list */
.link-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px 40px;
}
.link-list-item a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  line-height: 1.8;
}
.link-list-item a::after {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-size: 1.75rem;
}
.link-list-item a span {
  position: relative;
  overflow: hidden;
}
.link-list-item a span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 1px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateX(-100%);
}
.link-list-item a:hover span::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media screen and (max-width: 640px) {
  .link-list {
    row-gap: 8px;
  }
  .link-list-item a {
    font-size: 1rem;
  }
  .link-list-item a::after {
    font-size: 1.25rem;
  }
}

/* header/footer */
.logo {
  display: block;
  height: 50px;
}
.logo img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 640px) {
  .header .logo {
    height: 40px;
  }
}

.header-wrap {
  height: 80px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 24px;
  gap: 40px;
}
.header-sp-only {
  display: none;
}
.header-link-list {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
}
.header-link-list a:not(.header-contact-button) {
  font-size: 1.125rem;
}
.header-link-list a:not(.header-contact-button):hover {
  font-weight: 800;
}
.header-link-list a.header-link-current {
  font-weight: 800;
  color: var(--color-yellow);
  pointer-events: none;
  position: relative;
}
.header-link-list a.header-link-current::after {
  content: "";
  display: block;
  background-color: var(--color-yellow);
  width: 63.5%;
  height: 3px;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}
.header-contact-button-wrap {
  height: 100%;
}
.header-contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 100%;
  width: 140px;
  font-size: 1.125rem;
}
.header-contact-button:hover {
  background-color: var(--color-yellow);
}
.header-contact-button-icon {
  font-size: 2rem;
}
.header-menu-icon span {
  font-size: 2rem;
}
@media screen and (max-width: 1380px) {
  .header-link-list {
    gap: 24px;
  }
  .header-link-list a:not(.header-contact-button) {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1104px) {
  .header-sp-only {
    display: flex;
    gap: 16px;
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-link-list {
    display: none;
  }
  .header-link-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-link-organizer-icon {
    color: var(--color-organizer-dark);
  }
  .header-link-organizer-text {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 640px) {
  .header-wrap {
    height: 66px;
  }
  .header-contact-button {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.75rem;
  }
  .header-contact-button-icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 374px) {
  .header-sp-only {
    gap: 8px;
  }
  .header {
    gap: 24px;
  }
  .header-link-organizer-text {
    font-size: 0.625rem;
    white-space: nowrap;
  }
}

.footer {
  background-color: var(--color-gray);
  padding: 40px;
}
.footer-body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer-link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-link-list li {
  /* min-width: 112px; */
  max-width: 140px;
}
.footer-link-list a:hover {
  text-decoration: underline;
}
.footer-link-large {
  font-size: 1.25rem;
  white-space: nowrap;
}
.footer-link-list-small {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-link-small {
  font-weight: 400;
  font-size: 0.875rem;
}
.page-top {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--color-black);
  border-radius: 50%;
  color: var(--color-white);
}
.page-top-icon {
  font-size: 2.5rem;
}
.copyright {
  font-size: 0.625rem;
  color: var(--color-black);
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .footer-link-list {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    background-color: var(--color-white);
    padding-top: 0;
  }
  .footer-body {
    justify-content: center;
  }
  .page-top {
    display: none;
  }
}

/* page-title */
.page-title-wrap {
  background-color: #FCFAF5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 700;
  height: 200px;
  padding: 0 20px;
}
.page-title {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
}
.page-title-en {
  font-size: 1.5rem;
  color: var(--color-gold-deep-dark);
  line-height: 1.4;
}
.page-title-detail {
  font-size: 2.5rem;
  text-align: left;
}
.page-title-detail-sub {
  font-size: 1.5rem;
  display: block;
  margin-top: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.page-title-detail-sub-wrap {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}
.page-title-detail-sub-wrap .page-title-detail-sub {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .page-title-wrap {
    gap: 8px;
    height: 140px;
  }
  .page-title {
    font-size: 2.25rem;
  }
  .page-title-en {
    font-size: 1rem;
  }
  .page-title-detail {
    font-size: 1.5rem;
  }
  .page-title-detail-sub {
    font-size: 1rem;
    margin-top: 8px;
  }
  .page-title-detail-sub-wrap {
    margin-top: 8px;
  }
}

/* breadcrumb */
.breadcrumb {
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}
.breadcrumb li {
  display: flex;
  align-items: center;
  color: #888;
  font-weight: 400;
  white-space: nowrap;
}
.breadcrumb li:not(:last-child)::after {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-size: 1.75rem;
  line-height: 1;
}
.breadcrumb a {
  color: var(--color-black);
}
.breadcrumb a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 640px) {
  .breadcrumb {
    padding: 4px 20px;
  }
  .breadcrumb li {
    font-size: 0.75rem;
  }
  .breadcrumb li:not(:last-child)::after {
    font-size: 1.25rem;
  }
}

/* news */
.news-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 16px 0;
  border-bottom: 1px dotted var(--color-border);
}
.news-item:last-child {
  border-bottom: none;
}
.news-meta {
  display: flex;
  align-items: center;
  gap: 16px;
}
.news-date {
  font-size: 1.5rem;
}
.news-tag {
  font-size: 1.125rem;
  padding: 2px 0;
  white-space: nowrap;
  width: 160px;
  text-align: center;
  border-radius: 2px;
  line-height: 1.5;
}
.tag-explain {
  background-color: var(--color-explain-light);
  color: var(--color-explain-dark);
}
.tag-support {
  background-color: var(--color-support-light);
  color: var(--color-support-dark);
}
.tag-language {
  background-color: var(--color-language-light);
  color: var(--color-language-dark);
}
.news-text {
  font-size: 1.5rem;
}
.news-text a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .news-item {
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
  }
  .news-date {
    font-size: 1rem;
  }
  .news-tag {
    font-size: 0.875rem;
    width: 120px;
  }
  .news-text {
    font-size: 1.25rem;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.pagination-button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.pagination-prev {
  margin-right: 16px;
}
.pagination-prev::after {
  content: '\e5cb';
  font-family: 'Material Icons';
  font-size: 1.75rem;
  cursor: pointer;
  padding-top: 2px;
}
.pagination-next {
  margin-left: 16px;
}
.pagination-next::after {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-size: 1.75rem;
  cursor: pointer;
  padding-top: 2px;
}
.pagination-button:disabled,
.pagination-button:disabled::after {
  pointer-events: none;
  cursor: default;
}
.pagination-current {
  font-weight: 700;
  color: var(--color-black);
}
.pagination-ellipsis {
  font-size: 1rem;
  margin-left: -8px;
  margin-right: -8px;
}
@media screen and (max-width: 374px) {
  .pagination {
    gap: 16px;
  }
  .pagination-prev {
    margin-right: 8px;
  }
  .pagination-next {
    margin-left: 8px;
  }
}