.company-tab-list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
  gap: 16px;
  padding-bottom: 2px;
}
.company-tab-item {
  font-size: 1.5rem;
}
.company-tab-item a {
  display: block;
  padding: 8px 12px;
}
.company-tab-item.is-current {
  font-weight: 700;
  color: var(--color-gold-deep-dark);
  position: relative;
  padding: 8px 12px;
}
.company-tab-item.is-current::after {
  content: "";
  display: block;
  background-color: var(--color-gold-deep-dark);
  width: 80px;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}
.company-tab-item a:hover {
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .company-tab-item {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 640px) {
  .company-tab-list {
    gap: 0;
  }
  .company-tab-item {
    font-size: 0.75rem;
  }
  .company-tab-item.is-current::after {
    width: 100%;
  }
}

.company-history-list {
  max-width: 900px;
  margin: 0 auto;
}
.company-history-list li {
  display: flex;
  align-items: center;
  gap: 16px 40px;
}
.company-history-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.company-history-year-large {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--color-gold-deep-dark);
  font-weight: 700;
}
.company-history-year-small {
  font-size: 0.75rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.8;
}
.company-history-contents-item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.company-history-month {
  width: 46px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  flex-shrink: 0;
  line-height: 1.4;
}
.company-history-text {
  padding-left: 24px;
  border-left: 1px solid var(--color-border);
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .company-history-list li {
    flex-direction: column;
    align-items: flex-start;
  }
  .company-history-year {
    align-self: center;
  }
  .company-history-year-large {
    font-size: 1.75rem;
  }
  .company-history-contents-item {
    gap: 16px;
  }
  .company-history-month {
    font-size: 1rem;
  }
  .company-history-text {
    font-size: 0.875rem;
    padding-left: 16px;
  }
}

.teaser-company .teaser-horizon-img {
  max-width: 300px;
}
.teaser-interview img {
  max-width: 500px;
}
.teaser-interview .button-wrap {
  justify-content: flex-start;
}
.teaser-interview .title-subtext {
  font-size: 1.5rem;
}
@media screen and (min-width: 641px) {
  .teaser-horizon-img-right.teaser-company {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 640px) {
  .teaser-company .teaser-horizon-img {
    max-width: none;
  }
}

.recruit-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}
.recruit-item a:hover {
  opacity: 0.7;
}
.recruit-item-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-top: 16px;
}
.recruit-item-detail {
  margin-top: 8px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .recruit-list {
    gap: 24px;
  }
}

.company-overview-title {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.8;
}
.company-overview-text {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
.company-section-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}
.company-section-title-sub {
  font-size: 2rem;
  display: block;
}
@media screen and (max-width: 640px) {
  .company-overview-title {
    font-size: 1.5rem;
  }
  .company-overview-text {
    font-size: 1rem;
    text-align: left;
  }
  .company-section-title {
    font-size: 2rem;
  }
  .company-section-title-sub {
    font-size: 1.5rem;
  }
}

.company-business-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.company-business-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.company-business-item-title {
  font-size: 2rem;
  color: var(--color-gold-deep-dark);
  font-weight: 700;
  text-align: center;
}
.company-business-item-title-sub {
  font-size: 1.25rem;
  color: var(--color-black);
  font-weight: 700;
  display: block;
}
@media screen and (max-width: 1104px) {
  .company-business-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }
  .company-business-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (max-width: 640px) {
  .company-business-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .company-business-item {
    width: auto;
  }
}

.company-contents-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}
.company-contents-item {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 1.4;
  padding: 0 8px;
}
.company-contents-list.blue .company-contents-item {
  color: var(--color-white);
}
.company-contents-list.blue .company-contents-item:nth-child(1) {
  background-color: #003E7E;
}
.company-contents-list.blue .company-contents-item:nth-child(2) {
  background-color: #004D9E;
}
.company-contents-list.blue .company-contents-item:nth-child(3) {
  background-color: #006FE4;
}
.company-contents-list.blue .company-contents-item:nth-child(4) {
  background-color: #238EFF;
}
.company-contents-list.orange .company-contents-item:nth-child(1) {
  background-color: #FF9410;
}
.company-contents-list.orange .company-contents-item:nth-child(2) {
  background-color: #F3A710;
}
.company-contents-list.orange .company-contents-item:nth-child(3) {
  background-color: #FFC300;
}
.company-contents-list.orange .company-contents-item:nth-child(4) {
  background-color: #FFE016;
}
.company-contents-item-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.company-contents-item-title-sub {
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 0.875rem;
}
@media screen and (max-width: 1024px) {
  .company-contents-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .company-contents-item {
    height: 160px;
  }
  .company-contents-item-title .pc-only {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .company-contents-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.company-table tr {
  display: flex;
  gap: 4px 40px;
  padding: 24px 0;
}
.company-table tr + tr {
  border-top: 1px solid var(--color-border);
}
.company-table th {
  font-weight: bold;
  color: var(--color-gold-deep-dark);
  width: 140px;
  text-align: left;
  line-height: 1.8;
  flex-shrink: 0;
}
.company-table td {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.25rem;
}
@media screen and (max-width: 640px) {
  .company-table tr {
    flex-direction: column;
  }
  .company-table th {
    font-size: 0.875rem;
  }
  .company-table td {
    font-size: 1rem;
  }
}