:root {
  --color-black: #222;
  --color-white: #FFF;
  --color-red: #FE0000;
  --color-blue: #004D9E;
  --color-violet: #860031;
  --color-pink: #E7C9D4;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  color: var(--color-black);
  container-type: inline-size;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a, button {
  transition: all 0.3s;
}

img {
  width: 100%;
}

p {
  line-height: 1.8;
}

/* utility */
.sp-only {
  display: none;
}
.pc-only {
  display: block;
}
@media screen and (max-width: 640px) {
  .sp-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}

/* grid/flex */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
  gap: 40px;
}
.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media screen and (max-width: 640px) {
  .grid {
    column-gap: 24px;
  }
}
@media screen and (max-width: 360px) {
  .grid-auto {
    grid-template-columns: 1fr;
  }
}

.gap8 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.gap16 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.gap24 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.gap40 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.gap64 {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
@media screen and (max-width: 640px) {
  .sp-gap8 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .sp-gap16 {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .sp-gap24 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .sp-gap40 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .sp-gap64 {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }
}

/* layout */
.content-wrap {
  max-width: 1104px;
  margin: 120px auto;
}
@media screen and (max-width: 1144px) {
  .content-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .content-wrap {
    margin-top: 64px;
  }
}

.section {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
@media screen and (max-width: 640px) {
  .section {
    row-gap: 40px;
    margin-bottom: 64px;
  }
}

/* common */
/* text */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.text-small {
  font-size: 0.875rem;
}
.text-medium {
  font-size: 1rem;
}
.text-large {
  font-size: 1.25rem;
}
.line-height-large {
  line-height: 1.8;
}

@media screen and (max-width: 640px) {
  .text-small {
    font-size: 0.75rem;
  }
  .text-medium {
    font-size: 0.875rem;
  }
  .text-large {
    font-size: 1rem;
  }
  .sp-text-center {
    text-align: center;
  }
  .sp-text-left {
    text-align: left;
  }
  .sp-text-right {
    text-align: right;
  }
}

/* title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title-align-left {
  align-items: flex-start;
}
.title-large {
  font-size: 3rem;
  color: var(--color-violet);
}
.title-large::after {
  content: '';
  height: 3px;
  width: 100cqi;
  background-color: var(--color-violet);
  margin-top: 40px;
}
.title-medium {
  font-size: 2rem;
}
.title-small {
  font-size: 1.5rem;
}
.title-subtext {
  font-size: 1.25rem;
  color: var(--color-black);
}
.title-small .title-subtext {
  font-size: 1rem;
}
.title-left-bar {
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.title-left-bar::before {
  content: '';
  display: block;
  height: calc(1em + 10px);
  width: 3px;
  background-color: var(--color-violet);
}
@media screen and (max-width: 640px) {
  .title-large {
    font-size: 2.25rem;
  }
  .title-large::after {
    margin-top: 16px;
  }
  .title-medium {
    font-size: 1.5rem;
  }
  .title-subtext {
    font-size: 0.875rem;
  }
  .title-small {
    font-size: 1.25rem;
  }
}

/* button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-decoration: none;
  height: 52px;
  border-radius: 9999px;
  width: 100%;
  max-width: 320px;
  font-size: 1.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  opacity: 0.7;
}
.button-wrap {
  display: flex;
  justify-content: center;
}
.button-blue {
  background-color: var(--color-blue);
}
.button-red {
  background-color: var(--color-red);
}
.button-blank {
  position: relative;
}
.button-blank::after {
  content: '\e89e';
  font-family: 'Material Icons';
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  .button {
    font-size: 1.25rem;
  }
}

/* teaser */
.teaser-vertical {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 640px) {
  .teaser-vertical {
    gap: 16px;
  }
}

.teaser-horizon {
  display: flex;
  gap: 40px;
}
.teaser-horizon p {
  line-height: 1.8;
}
.teaser-horizon .title:not(.title-left-bar) {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  text-align: left;
}
.teaser-horizon .title-left-bar {
  flex-direction: row;
}
.teaser-horizon-img {
  flex-shrink: 0;
}
.teaser-horizon-img-right .teaser-horizon-img {
  width: 28%;
  max-width: 300px;
}
.teaser-horizon-img-left .teaser-horizon-img {
  width: 36.3%;
  max-width: 400px;
}
.teaser-horizon-note {
  font-size: 0.875rem;
}
.teaser-horizon .button-wrap {
  justify-content: flex-start;
}

@media screen and (max-width: 640px) {
  .teaser-horizon {
    flex-direction: column;
    gap: 24px;
  }
  .teaser-horizon-img-right .teaser-horizon-img,
  .teaser-horizon-img-left .teaser-horizon-img {
    width: 100%;
    max-width: none;
  }
  .teaser-horizon .button-wrap {
    justify-content: center;
  }
}

/* list */
.list li {
  display: flex;
  line-height: 1.8;
}
.list li::before {
  content: '・';
}
@media screen and (max-width: 640px) {
  .list li {
    font-size: 0.875rem;
  }
}

/* link-list */
.link-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px 16px;
}
.link-list-item a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  line-height: 1.8;
}
.link-list-item a::after {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-size: 1.75rem;
}
.link-list-item a span {
  position: relative;
  overflow: hidden;
}
.link-list-item a span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 1px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateX(-100%);
}
.link-list-item a:hover span::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media screen and (max-width: 640px) {
  .link-list {
    row-gap: 8px;
  }
  .link-list-item a {
    font-size: 1rem;
  }
  .link-list-item a::after {
    font-size: 1.25rem;
  }
}

/* MV */
.mv {
  height: 450px;
  background-image: url(../image/mv.jpg);
  background-size: 1920px 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
  position: relative;
}
.mv-title-wrap {
  height: 100%;
  justify-content: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.mv-title {
  font-size: 4rem;
}
.mv-subtitle {
  font-size: 1.75rem;
}
.mv-link-box {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: fit-content;
  border: 3px solid var(--color-pink);
}
.mv-link-box a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: normal;
}
.mv-link-box-ribbon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-pink);
  width: 50px;
  height: 50px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.mv-link-box-ribbon-text {
  color: var(--color-white);
  font-size: 0.75rem;
  display: block;
  transform: rotate(-45deg) translate(2px, 8px);
  transform-origin: bottom right;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.mv-link-box a:hover {
  background-color: var(--color-pink);
}

@media screen and (min-width: 1920px) {
  .mv {
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .mv {
    height: 380px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(../image/mv-sp.jpg);
    background-size: cover;
    background-position: top 10% center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mv-title-wrap {
    height: auto;
    padding-top: 84px;
  }
  .mv-title {
    font-size: 2.625rem;
  }
  .mv-subtitle {
    font-size: 1.25rem;
  }
  .mv-link-box {
    width: calc(100% - 40px);
    right: 50%;
    transform: translateX(50%);
    bottom: 24px;
  }
  .mv-link-box a {
    font-size: 1rem;
    padding: 16px;
  }
  .mv-link-box br {
    display: none;
  }
  .mv-link-box-ribbon {
    display: none;
  }
}

/* service */
.service-title {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0 24px;
  paint-order: stroke;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-title-visually-impaired {
  background-image: url(../image/service-title-visually-impaired.jpg);
  color: var(--color-white);
}
.service-title-hearing-impaired {
  background-image: url(../image/service-title-hearing-impaired.jpg);
}
.service-title-visually-impaired.service-title {
  -webkit-text-stroke: 6px #066686;
  text-stroke: 6px #066686;
}
.service-title-visually-impaired .service-title-text {
  -webkit-text-stroke: 4px #066686;
  text-stroke: 4px #066686;
}
.service-title-hearing-impaired.service-title {
  -webkit-text-stroke: 6px #FFF;
  text-stroke: 6px #FFF;
}
.service-title-hearing-impaired .service-title-text {
  -webkit-text-stroke: 4px #FFF;
  text-stroke: 4px #FFF;
}
@media screen and (max-width: 640px) {
  .service-title {
    height: auto;
    padding: 24px 16px 16px;
    justify-content: flex-start;
    gap: 8px;
  }
}

.service-grid-item-title {
  color: var(--color-violet);
  font-size: 1.5rem;
  position: relative;
}
.service-grid-item-title::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--color-violet);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-grid-item-title span {
  background-color: var(--color-white);
  z-index: 1;
  padding: 0 16px;
}
@media screen and (max-width: 640px) {
  .service-grid-item-title {
    font-size: 1.25rem;
  }
}
