<footer class="footer">
  <div class="footer-body">
    <a href="https://www.eg-gm.jp/e_guide/" class="logo">
      <img src="/image/logo.svg" alt="イヤホンガイド">
    </a>
    <ul class="footer-link-list">
      <li>
        <a href="" class="footer-link-large">伝統芸能を観る</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキストテキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">バリアフリー</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキストテキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">外国語対応</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキストテキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">主催者様</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキストテキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">団体予約</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">耳寄屋</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">解説者紹介</a>
        <ul class="footer-link-list-small">
          <li><a href="" class="footer-link-small">テキストテキストテキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
          <li><a href="" class="footer-link-small">テキスト</a></li>
        </ul>
      </li>
      <li>
        <a href="" class="footer-link-large">お問い合わせ</a>
      </li>
    </ul>
    <a href="#" class="page-top">
      <span class="material-symbols-outlined page-top-icon">keyboard_arrow_up</span>
    </a>
  </div>
  <p class="copyright">Copyright© Earphone Guide Co., Ltd. All Rights Reserved.</p>
</footer>